<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{SERVER_PORT} 80
    RewriteRule ^(.*)$ https://autoreport.securityium.com/$1 [R,L]

    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>